# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode workspace
*.xcworkspace

# Derived data
DerivedData/

# Fastlane (if ever used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Logs
*.log