# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Xcode Project user data
**/xcuserdata/
**/*.xcuserstate

# App icon cache
Assets.xcassets/AppIcon.appiconset/*.png